.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 44px;
  margin-top: 28px;

  span {
    padding: 8px 18px;
    border-radius: 4px;
    text-transform: uppercase;
    background-color: #f1f1f1c2;
  }
}