.bg-1 {
  color: #ffffff;
  padding-top: 52px;
  height: calc(100vh - 60px);
  background-image: url('/bg.jpeg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.bg-2 {
  color: #ffffff;
  padding-top: 52px;
  height: calc(100vh - 60px);
  background-image: url('/bg-1.jpeg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.bg-3 {
  color: #ffffff;
  padding-top: 52px;
  height: calc(100vh - 60px);
  background-image: url('/bg-2.jpeg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.bg-4 {
  color: #ffffff;
  padding-top: 52px;
  height: calc(100vh - 60px);
  background-image: url('/bg-3.jpeg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}