body {
  font-family: "Ubuntu Mono", "SF Mono", "Menlo", monospace;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.25;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.page-header {
  height: calc(80vh - 60px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;

  h1 {
    font-size: 56px;
  }
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 28px;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

ul > li {
  font-size: 20px;
}

.is-dark {
  color: #ffffff;
}

.col {
  &-50 {
    width: 45%;
    
    &:first-child {
      margin-right: 32px;
    }
  }

  &-25 {
    width: 25%;

    &:first-child {
      margin-right: 32px;
    }
  }
}